.profile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 60px 30px;
}
.profile-image-section {
  display: flex;
  text-align: center;
}
.profile-img {
  position: relative;
  width: 150px;
  height: 150px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 25px;
}
#image-upload {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 2px;
  cursor: pointer;
}
.profile-form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
form {
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  /* display: flex; */
  place-content: stretch flex-start;
  align-items: stretch;
  flex: 1 0 auto;
}
.inner-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.form-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.cancel {
  height: 52px !important;
  padding: 8px 30px;
  outline: blue;
  margin: 10px 20px 10px 0;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #4461d7;
  color: #4461d7 !important;
}
.save {
  height: 52px !important;
  padding: 8px 30px;
  border-radius: 2px;
  background-color: #4461d7;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-right: 0px !important;
  padding: 5px 30px;
  width: 107px;
  height: 52px !important;
}
.edit-icon {
  color: #1665d8;
  cursor: pointer;
}
.mybtn {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  height: 36px;
  width: 161px;
  padding: 0;
  margin: 0 auto 15px;
  color: gray !important;
  border: 0.6px solid #1b1b1b3d;
  border-radius: 2px;
}
.page-layout-sample {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-width: 100%;
}
