<div class="read-blog-page">
  <div class="content" matRipple>
    <div class="left-div">
      <div class="writer-info-container">
        <div class="info">
          <div class="profile-image">
            <img src="/assets/images/secure_login.svg" alt="" />
          </div>
          <h4 class="writer-name">Priyesh Pandey</h4>
        </div>
      </div>
      <div class="blog-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="blog-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse rerum
          possimus pariatur, illum animi illo mollitia
        </p>
      </div>
    </div>
    <div class="right-div">
      <img src="/assets/images/loginBg.png" alt="" />
    </div>
  </div>
  <div class="content">
    <div class="left-div">
      <div class="writer-info-container">
        <div class="info">
          <div class="profile-image">
            <img src="/assets/images/secure_login.svg" alt="" />
          </div>
          <h4 class="writer-name">Priyesh Pandey</h4>
        </div>
      </div>
      <div class="blog-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="blog-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse rerum
          possimus pariatur, illum animi illo mollitia
        </p>
      </div>
    </div>
    <div class="right-div">
      <img src="/assets/images/loginBg.png" alt="" />
    </div>
  </div>
  <div class="content">
    <div class="left-div">
      <div class="writer-info-container">
        <div class="info">
          <div class="profile-image">
            <img src="/assets/images/secure_login.svg" alt="" />
          </div>
          <h4 class="writer-name">Priyesh Pandey</h4>
        </div>
      </div>
      <div class="blog-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="blog-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse rerum
          possimus pariatur, illum animi illo mollitia
        </p>
      </div>
    </div>
    <div class="right-div">
      <img src="/assets/images/loginBg.png" alt="" />
    </div>
  </div>
  <div class="content">
    <div class="left-div">
      <div class="writer-info-container">
        <div class="info">
          <div class="profile-image">
            <img src="/assets/images/secure_login.svg" alt="" />
          </div>
          <h4 class="writer-name">Priyesh Pandey</h4>
        </div>
      </div>
      <div class="blog-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="blog-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse rerum
          possimus pariatur, illum animi illo mollitia
        </p>
      </div>
    </div>
    <div class="right-div">
      <img src="/assets/images/loginBg.png" alt="" />
    </div>
  </div>
  <div class="content">
    <div class="left-div">
      <div class="writer-info-container">
        <div class="info">
          <div class="profile-image">
            <img src="/assets/images/secure_login.svg" alt="" />
          </div>
          <h4 class="writer-name">Priyesh Pandey</h4>
        </div>
      </div>
      <div class="blog-title">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </div>
      <div class="blog-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse rerum
          possimus pariatur, illum animi illo mollitia
        </p>
      </div>
    </div>
    <div class="right-div">
      <img src="/assets/images/loginBg.png" alt="" />
    </div>
  </div>
</div>
