* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
img {
  width: 100%;
  height: 90vh;
  object-fit: contain;
  padding: 30px;
}
.landing-page-color {
  height: 83vh;
  display: flex;
}
.landing-image {
  padding-top: 30px;
}
.hero-text-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  font-size: 35px;
  line-height: 46px;
  font-weight: 700;
  margin: 0;
  height: auto;
  padding: 48px 15px 6px 15px;
}
.below-hero-text-p {
  letter-spacing: 2px;
  word-break: break-word;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  height: auto;
  margin-top: 2px;
  padding: 0 8px 0 8px;
}
.landing-get-started-button {
  background-color: #d85c51;
  height: 42px;
  font-size: 17px;
  padding: 11px;
  color: white;
  border: 4px;
  border-radius: 2px solid;
  border-radius: 5px;
  /* margin-left: 7px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 21px;
}
.main-text {
  position: absolute;
  top: 20%;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
}

/* Medium screen devices (768px and above) */

@media only screen and (max-width: 872px) {
  .second-div {
    display: none;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
