<div class="row first-div">
  <div class="col-md-5 col-xl-5 col-xs-12 col-sm-12" id="login">
    <div id="login-form-wrapper">
      <div class="login-form">
        <div class="logo">
          <a routerLink="/">
            <img src="/assets/images/blog1.png" alt="" />
          </a>
        </div>
        <form>
          <div class="inner-form">
            <mat-form-field appearance="fill" class="input">
              <mat-label>Email address*</mat-label>
              <input
                type="email"
                matInput
                [(ngModel)]="resetEmail"
                name="email"
              />
              <mat-error>Error</mat-error>
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="reset()"
            class="login-button"
          >
            Reset Password
          </button>
        </form>
        <div class="register">
          <p class="mr-2">Don't have an account?</p>
          <a routerLink="/auth/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-7 col-sm-12 d-none d-md-bloc d-lg-none d-lg-block d-xl-block padding0"
  >
    <div class="login-bg">
      <img src="/assets/images/loginBg.png" alt="" class="login-image" />
    </div>
  </div>
</div>
