<h1 mat-dialog-title class="d-flex justify-content-center">Change Password</h1>
<mat-dialog-content>
  <form [formGroup]="changePassword" id="passwordChange">
    <mat-form-field appearance="outline" class="input">
      <mat-label>New Password*</mat-label>
      <input
        matInput
        [type]="newPasswordHide ? 'password' : 'text'"
        formControlName="newPassword"
      />
      <mat-icon matSuffix (click)="newPasswordHide = !newPasswordHide">{{
        newPasswordHide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input">
      <mat-label>Confirm Password*</mat-label>
      <input
        matInput
        [type]="confirmPasswordHide ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <mat-icon
        matSuffix
        (click)="confirmPasswordHide = !confirmPasswordHide"
        >{{ confirmPasswordHide ? "visibility_off" : "visibility" }}</mat-icon
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions id="passwordChangeAction">
  <button mat-raised-button class="save" (click)="savePassword()">Save</button>
  <button mat-raised-button class="cancel" (click)="closeModal()">
    Cancel
  </button>
</mat-dialog-actions>
