* {
  /* height: 100%; */
  /* margin: 0;
  font-family: sans-serif; */
}
:root {
  --nav-icon-width: 50px;
  --nav-border-width: 8px;
}
html,
body {
  /* height: 100%; */
  margin: 0;
  font-family: sans-serif;
}

.left-menu-div {
  /* width: 20; */
}
#profile-container {
}
.left-menu-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
.menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.rotuer-link-active {
  background: rgba(0, 0, 0, 0.2);
}
#toggle-sidenav {
  position: absolute;
  right: 0;
}
img {
  width: 100%;
  height: 100%;
}

mat-drawer {
  width: 100%;
}

/* Started */
/*  {
  background-color: indigo;
} */

.navbar-brand {
  color: white;
}

.navbar-user > li > a {
  color: white;
}

.navbar-primary {
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  border-top: solid 1px #666;
  color: black;
  font-size: 20px;
  text-align: center;
}
.btn-expand-collapse mat-icon {
  transform: rotate(90deg);
}
.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
  /* background-color: #222; */
  color: white;
}

.btn-expand-collapse:active {
  /* background-color: #111; */
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  /* border-bottom: solid 1px #444; */
  color: black;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}

.main-content {
  /* margin-top: 60px; */
  margin-left: 200px;
  padding: 20px;
  height: auto;
}

.collapsed + .main-content {
  margin-left: 60px;
}
.active {
  background-color: #000;
  text-decoration: none;
  color: white !important;
}
mat-icon {
  vertical-align: middle;
  margin-right: 4px;
}
/* second */
