<app-home></app-home>
<div class="mt-4">
  <div id="profile-container">
    <div class="row">
      <div class="col-2">
        <div class="left-menu-div">
          <!-- <mat-sidenav-container> -->

          <!-- </mat-sidenav-container> -->
          <mat-drawer-container class="example-container" fullscreen>
            <mat-drawer class="example-sidenav w-100" mode="over" opened>
              <div class="menu-items">
                <a
                  routerLink="/profile/me"
                  mat-raised-button
                  class="mat-button mat-button-base"
                >
                  Profile
                </a>
                <a
                  routerLink="/profile/myblog"
                  mat-raised-button
                  class="mat-button mat-button-base"
                >
                  My Blogs
                </a>
                <a
                  routerLink="/profile/draft"
                  mat-raised-button
                  class="mat-button mat-button-base"
                >
                  Drafts
                </a>
              </div>
            </mat-drawer>
          </mat-drawer-container>
        </div>
      </div>
      <div class="col-10">
        <div class="right-menu">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
