<div class="read-blog-page">
  <div *ngIf="!contentLoaded">
    <div *ngFor="let in of counter(5); let i = index">
      <div class="content" matRipple>
        <div class="left-div">
          <div class="writer-info-container">
            <div class="info">
              <div class="profile-image">
                <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                  appearance="circle"
                  [theme]="{ width: '20px', height: '20px' }"
                ></ngx-skeleton-loader>
                <img
                  [src]="'baseUrl/image' || '/assets/images/secure_login.svg'"
                  alt=""
                  *ngIf="contentLoaded"
                />
              </div>
              <ngx-skeleton-loader
                *ngIf="!contentLoaded"
                class="writer-name"
              ></ngx-skeleton-loader>
              <h4 class="writer-name" *ngIf="contentLoaded">Priyesh Pandey</h4>
            </div>
          </div>
          <div class="blog-title">
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
            <h1 *ngIf="contentLoaded">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
          </div>
          <div class="blog-content">
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>

            <p *ngIf="contentLoaded">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse
              rerum possimus pariatur, illum animi illo mollitia
            </p>
          </div>
        </div>
        <div class="right-div">
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            appearance="circle"
            [theme]="{
              width: '88%',
              height: '100%',
              'border-radius': '29px',
              display: 'flex',
              'justify-content': 'centre',
              margin: '0 auto'
            }"
          ></ngx-skeleton-loader>
          <img src="/assets/images/loginBg.png" alt="" *ngIf="contentLoaded" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="contentLoaded">
    <div *ngFor="let data of myBlog.drafts">
      <div class="content" matRipple>
        <div class="left-div">
          <div class="writer-info-container">
            <div class="info">
              <div class="profile-image">
                <ngx-skeleton-loader
                  *ngIf="!contentLoaded"
                  appearance="circle"
                  [theme]="{ width: '20px', height: '20px' }"
                ></ngx-skeleton-loader>
                <img
                  src="/assets/images/avatar.svg"
                  alt=""
                  *ngIf="!myBlog.image"
                />
                <img
                  src="{{ baseUrl }}/{{ myBlog.image }}"
                  alt=""
                  *ngIf="contentLoaded && myBlog.image"
                />
              </div>
              <ngx-skeleton-loader
                *ngIf="!contentLoaded"
                class="writer-name"
              ></ngx-skeleton-loader>
              <h4 class="writer-name" *ngIf="contentLoaded">
                {{ myBlog?.name }}
              </h4>
            </div>
          </div>
          <div class="blog-title">
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
            <h1 *ngIf="contentLoaded">
              {{ data.title }}
            </h1>
          </div>
          <div class="blog-content">
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded"></ngx-skeleton-loader>
            <div
              *ngIf="contentLoaded"
              [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.description)"
            ></div>
          </div>
          <div class="date-time">
            <span>{{ data?.createdAt | date }}</span>
          </div>
        </div>
        <div class="right-div">
          <ngx-skeleton-loader
            *ngIf="!contentLoaded"
            appearance="circle"
            [theme]="{
              width: '40%',
              height: '100%',
              'border-radius': '29px',
              'margin-left': '12%'
            }"
          ></ngx-skeleton-loader>
          <img
            src="{{ baseUrl }}/{{ data.image }}"
            alt=""
            *ngIf="contentLoaded"
          />
        </div>
        <div class="more">
          <mat-icon class="mr-2" (click)="editDraft(data._id)">edit</mat-icon>
          <mat-icon (click)="deleteDraft(data._id)">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="no-data-found" *ngIf="noDataFound">
  <img src="/assets/images/no-data-found.png" alt="No Blog Found..!" />
</div>
