* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-top: 10px;
  padding: 0;
  margin: 0 50px 0 50px;
}
.logo {
  width: auto;
  height: auto;
}
.logo a {
  text-decoration: none;
  color: black;
  letter-spacing: 11px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
}
img {
  width: 100%;
  height: 100%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  align-items: center;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: "Inter", sans-serif;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}
.try-for-free a {
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger {
  display: none;
}
.nav-links {
  /* color: ; */
  color: #482ff7;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.profile-image {
  height: 46px;
  width: 55px;
  display: flex;
  align-items: center;
}

.profile-dropdown {
  flex-direction: column;
  position: absolute;
  top: 57px;
  z-index: 99;
  width: 130px;
  right: 87px;
}
#profile_img {
  border-radius: 50%;
}
.profile-dropdown::before {
  content: " ";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3f51b5;
  position: absolute;
  top: -10px;
  right: 12px;
}
.profile-drop-links {
  display: none;
}
@media only screen and (max-width: 872px) {
  .nav-links {
    display: block;
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 5rem;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100vh;
    /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
  }
  .nav-links.active {
    right: 0;
    z-index: 99;
    background: #f9f4f0;
  }
  .nav-links.active:hover {
    columns: white;
  }
  .profile-drop-links {
    display: block;
  }
  .links {
    margin: 2.5rem 0;
  }
  .links:hover {
    color: white;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .profile-drop {
    display: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
