* {
  margin: 0;
  padding: 0;
}

.login-bg {
  margin: 0 auto;
}

.login-bg .login-image {
  padding-top: 50px;
  height: 648px;
}

.padding0 {
  padding: 0;
}

.first-div {
  width: 100%;
  min-width: 100%;
  margin: 0;
}

#login {
  width: 100%;
  background-size: cover;
}

#login-form-wrapper {
  flex: 1 0 auto;
  padding: 32px;
}

.login-form {
  width: 450px;
  max-width: 450px;
  /* padding:
   50px;
   */
  padding: 0 50px 0 50px;
  margin: 20px auto;
}

form {
  width: 100%;
  text-align: left;
}

.logo {
  width: 160px;
  margin: 32px auto;
}

.input {
  width: 100%;
}

.login-button {
  width: 187px;
  display: block;
  height: 58px !important;
  color: #fff;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  transition-property: transform;
}

.rember-forgot {
  display: flex;
  justify-content: flex-end;
}

.register {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
}

@media only screen and (max-width: 872px) {
}
