* {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #f9f4f0;
}
.editor_class {
  height: 100%;
}
.input {
  width: 100%;
  display: flex;
  justify-content: center;
}
input {
  width: 100%;
}
.editor-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 20xp;
  margin-top: 20px;
  /* background-color: blue; */
  margin: 0 auto;
}
.iframe {
  width: 100%;
  height: auto;
}

input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 80%;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
#description {
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 2px;
  display: flex;
  justify-content: center;
  width: 80%;
  outline: none;
  transition: 0.3s;
  margin: 0 auto;
}
#description:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.thumbnailImage {
  display: flex;
  flex-direction: column;
}
.preview-image {
  width: 80%;
  height: 305px;
  margin: 0 auto;
}
#image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
input[type="file"] {
  display: none;
}
.uploadFile {
  display: flex;
  justify-content: center;
  width: 29%;
  margin: 9px auto;
}
.color-white {
  background-color: #3f51b5;
}
.editor-buttons > button {
  padding-left: 8px;
  padding-right: 8px;
}
.error-class {
  border: 1px solid red !important;
}

.error-class {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: 1px solid red !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
