<div class="editor_class">
  <form [formGroup]="editorForm">
    <mat-form-field appearance="fill" class="input container mx-auto">
      <mat-label>Title*</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title" />
    </mat-form-field>
    <ck-editor
      formControlName="content"
      [(ngModel)]="editorValue"
      skin="moono-lisa"
      language="en"
      [fullPage]="false"
    ></ck-editor>
  </form>
  <div class="editor-buttons">
    <button mat-raised-button color="primary" (click)="saveEditor()">
      Save
    </button>
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="accent">Publish</button>
    <button mat-raised-button color="primary" (click)="openDialog()">
      Preview
    </button>
  </div>
</div>
<iframe srcdoc="{{ editorValue }}" frameborder="0" *ngIf="false"> </iframe>
